---
import FlipCard from "./FlipCard.astro";
import type { TitleLevels } from "../../types";

type Props = {
  titleLevel?: TitleLevels;
};

const { titleLevel: TitleTag = "h2" } = Astro.props;
---

<FlipCard className="profile-card">
  <Fragment slot="front">
    <slot name="photo" />
    <TitleTag><slot name="name" /></TitleTag>
  </Fragment>
  <Fragment slot="back">
    <TitleTag><slot name="name" /></TitleTag>
    <p><slot name="description" /></p>
  </Fragment>
</FlipCard>

<style>
  :global(.profile-card) {
    .front-flip-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      max-height: 17rem;
      width: 100%;
      object-fit: cover;
      border-radius: var(--size-border-radius-small);
    }
  }
</style>
