---
type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<article>
  <header>
    <slot name="title">
      <h1>{title}</h1>
    </slot>
  </header>
  <slot />
</article>

<style>
  article {
    margin: 0 auto;
    max-width: 800px;
    padding-block: var(--size-gap);

    header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--size-header-height);
    }

    > :is(h1, h2, h3, h4, h5, h6) {
      text-align: center;
    }
  }

  header :global(h1) {
    margin: 0;
  }

  @media (max-width: 1280px) {
    article header {
      height: auto;
    }
  }
</style>
