---

---

<button type="button" class="burger">
  <div class="icon"></div>
</button>

<style>
  @property --size-burger {
    syntax: "<length>";
    inherits: true;
    initial-value: 2rem;
  }

  button {
    position: relative;
    background: transparent;
    border: none;
    height: var(--size-burger);
    width: var(--size-burger);
  }

  .icon,
  .icon::before,
  .icon::after {
    transition: 0.3s;
    position: absolute;
    content: "";
    background-color: var(--color-black);
    height: calc(var(--size-burger) / 7.5);
    width: var(--size-burger);
    left: 0;
  }

  .active .icon {
    transform: rotateZ(-180deg);
  }

  .icon::before {
    top: calc(var(--size-burger) / -3);
  }

  .active .icon::before {
    transform: rotateZ(-45deg) scaleX(0.75) translate(calc(var(--size-burger) / -3), calc(var(--size-burger) / -10));
  }

  .icon::after {
    top: calc(var(--size-burger) / 3);
  }

  .active .icon::after {
    transform: rotateZ(45deg) scaleX(0.75) translate(calc(var(--size-burger) / -3), calc(var(--size-burger) / 10));
  }

  .icon {
    top: calc(var(--size-burger) / 2);
  }
</style>

<script>
  function register() {
    const button = document.querySelector(".burger")!;

    button.addEventListener("click", () => {
      button.classList.toggle("active");
      document.body.classList.toggle("burger-active");
    });
  }
  document.addEventListener("DOMContentLoaded", register);
</script>
