.button {
  background: var(--color-white);
  padding: var(--size-gap-small) var(--size-gap);
  border-radius: var(--size-border-radius-large);
  font-weight: bold;

  &:hover {
    background: var(--color-secondary);
    color: var(--color-white);
  }

  &.primary {
    background: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background: var(--color-white);
      color: var(--color-primary);
    }
  }
}
