---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import type { ImageMetadata } from "astro";

type Props = {
  items: Array<{
    path: string;
    title: string;
    icon?: ImageMetadata;
  }>;
};

const { items } = Astro.props;
---

<nav>
  <ul>
    {
      items.map((item) => (
        <li>
          <Link href={item.path}>
            {item.icon ? <Image src={item.icon} alt={`${item.title} Icon`} width="16" /> : null}
            {item.title}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
