---
import ArrowDown from "~icons/carbon/arrow-down";
---

<button id="scroll-button">
  <ArrowDown class="arrow-icon" />
</button>

<style>
  #scroll-button {
    position: fixed;
    bottom: var(--size-gap);
    right: var(--size-gap-small);
    cursor: pointer;
    display: flex;
    border: none;
    animation: bounce 2s infinite;
    background-color: transparent;
    padding: var(--size-gap-large);
  }

  .arrow-icon {
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
    color: var(--color-primary);
  }

  .arrow-icon:hover {
    transform: scale(1.5);
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(var(--size-gap-small));
    }
  }
</style>

<script>
  const scrollButton = document.getElementById("scroll-button");
  const grids = Array.from(document.querySelectorAll("#empower, #connect"));

  scrollButton?.addEventListener("click", () => {
    const nextGrid = grids
      .map((el) => ({ el, top: el.getBoundingClientRect().top }))
      .filter((x) => x.top > 10)
      .sort((a, b) => a.top - b.top)[0]?.el;

    if (nextGrid) {
      nextGrid.scrollIntoView({
        behavior: "smooth",
        block: "center",
      });
    }
  });
</script>
