---
type Props = {
  features: {
    title: string;
    description: string;
    icon?: string;
    image?: string;
  }[];
};

const { features } = Astro.props;
---

<div class="showcases">
  {
    features.map((feature) => (
      <div class="feature-card">
        <img src={feature.image} alt={feature.title} />
        <h3>{feature.title}</h3>
        <p>{feature.description}</p>
      </div>
    ))
  }
</div>

<style>
  .showcases {
    display: flex;
    flex-direction: row;
    gap: var(--size-gap);
  }

  .showcases > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
</style>
