table {
  width: 100%;
  border: var(--border-massive);
  border-radius: var(--size-border-radius-large);
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--color-white-97);
  overflow: hidden;
}

thead th {
  background-color: var(--color-white-92);
  position: sticky;
  top: 0;
  z-index: 2;
}

tbody tr:hover {
  background-color: var(--color-white);
}

td,
th {
  padding: var(--size-gap-small);
  text-align: start;
}