.table-wrapper {
  border: var(--border-massive);
  border-radius: var(--size-border-radius-large);
  overflow: hidden;
  background-color: var(--color-white-97);
}

.table-wrapper table {
  border-collapse: collapse;
}

.table-wrapper thead th {
  background-color: var(--color-white-92);
  position: sticky;
  top: 0;
}

.table-wrapper tbody tr:hover {
  background-color: var(--color-white);
}

td,
th {
  padding: var(--size-gap-small);
  text-align: start;
}