---
interface Props {
  class?: string;
  [key: string]: string | number | boolean | undefined;
  title?: string;
}

const { class: className, title: titleName, ...rest } = Astro.props;
---

<div class:list={["tabs-list", className]} role="tablist" {...rest}>
  <h3>{titleName}</h3>
  <div>
    <slot />
  </div>
</div>

<style>
  :where(.tabs-list) {
    display: flex;
    background-color: var(--color-white-97);
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: var(--size-border-radius-large) var(--size-border-radius-large) 0 0;
    overflow: hidden;
    padding-inline: var(--size-gap-large);
  }

  :where(.tabs-list h3) {
    color: var(--color-primary);
  }

  :where(.tabs-list > *) {
    display: flex;
    flex: 1;
  }

  @media (max-width: 900px) {
    :where(.tabs-list) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
</style>
