---
interface Props {
  class?: string;
  id: string;
  labelledby: string;
  selected?: boolean;
  [key: string]: string | number | boolean | undefined;
}

const { class: className, id, labelledby, selected = false, ...rest } = Astro.props;
---

<div
  class:list={["tab-panel", className]}
  role="tabpanel"
  id={id}
  aria-labelledby={labelledby}
  aria-hidden={!selected}
  {...rest}
>
  <slot />
</div>

<style>
  :where(.tab-panel) {
    display: none;
    min-width: 0;
    background-color: var(--color-white-97);
    border-right: var(--border-massive);
    border-bottom: var(--border-massive);
    border-left: var(--border-massive);
    overflow: hidden;
    margin-bottom: var(--size-gap);
    padding: var(--size-gap-large);
    border-radius: 0 0 var(--size-border-radius-large) var(--size-border-radius-large);
  }

  :where(.tab-panel[aria-hidden="false"]) {
    display: block;
  }
</style>
