---
/**
 * TabsList Component
 *
 * @description A list of tabs within a Tabs component
 */

interface Props {
  /**
   * Additional classes to apply to the tabs list container
   */
  class?: string;
  /**
   * HTML attributes to spread on the tabs list
   */
  [key: string]: string | number | boolean | undefined;
  title?: string;
}

const { class: className, title: titleName, ...rest } = Astro.props;
---

<div class:list={["tabs-list", className]} role="tablist" {...rest}>
  <h3>{titleName}</h3>
  <div>
    <slot />
  </div>
</div>

<style>
  :where(.tabs-list) {
    display: flex;
    background-color: var(--color-white-97);
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    /* border-bottom: 2px solid var(--color-white-92); */
    border-radius: var(--size-border-radius-large) var(--size-border-radius-large) 0 0;
    overflow: hidden;
  }

  :where(.tabs-list h3) {
    color: var(--color-primary);
  }

  :where(.tabs-list > *) {
    display: flex;
    flex: 1;
  }

  @media (max-width: 900px) {
    :where(.tabs-list) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
</style>
