---
interface Props {
  class?: string;
  [key: string]: string | number | boolean | undefined;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={["tabs-list", className]} role="tablist" {...rest}>
  <div>
    <slot />
  </div>
</div>

<style>
  :where(.tabs-list) {
    display: flex;
    background-color: var(--color-white-97);
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: var(--size-border-radius-large) var(--size-border-radius-large) 0 0;
    overflow: hidden;
    padding-inline: var(--size-gap-large);
    border-block-start: var(--border-massive);
    border-inline: var(--border-massive);

    * {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  @media (max-width: 900px) {
    :where(.tabs-list) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
</style>
