---

---

<section id="connect">
  <h2>Contact us!</h2>
</section>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position:
      0px 0px,
      0px 0px;
    background-image:
      radial-gradient(60% 100% at 75% 75%, rgb(from var(--color-primary) r g b / 0.3) 0%, transparent 100%),
      radial-gradient(60% 100% at 25% 25%, rgb(from var(--color-secondary) r g b / 0.3) 0%, transparent 100%);
  }
</style>
