---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { ...attributes } = Astro.props;
---

<section {...attributes}>
  <div class="wrapper">
    <div class="title">
      <slot name="title" />
    </div>
    <div class="content">
      <slot name="content" />
    </div>
    <div class="actions">
      <slot name="actions" />
    </div>
    <div class="stage">
      <slot name="stage" />
    </div>
  </div>
</section>

<style>
  .wrapper {
    background-color: rgb(from var(--color-white) r g b / 0.4);
    border: var(--border-massive);
    border-radius: var(--size-border-radius-large);
    gap: var(--size-gap);
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(15rem, 1.5fr) minmax(15rem, 1fr);
    grid-template-areas:
      "title stage"
      "content stage"
      "actions stage";
  }

  .title {
    grid-area: title;
    padding-block-start: var(--size-gap-large);
    padding-inline-start: var(--size-gap-large);
    align-self: end;
  }

  .content {
    grid-area: content;
    padding-inline-start: var(--size-gap-large);
    font-size: var(--size-font-huge);
  }

  .actions {
    grid-area: actions;
    padding-inline-start: var(--size-gap-large);
    padding-block-end: var(--size-gap-large);
    padding-top: 0;
    display: flex;
    gap: var(--size-gap-small);
  }

  .stage {
    grid-area: stage;
    margin-inline-start: -2rem;
    height: 100%;
    width: 100%;
    container-type: inline-size;
  }
</style>
