:root {
  --color-primary: #058e84;
  --color-primary: #fe7e40;
  --color-white: #f9f9f9;
  --color-black: #333333;

  --size-font: 16px;
  --size-header-width: 20rem;
  --size-page-padding: 20%;
  --size-gap: 1rem;
  --size-burger: 2rem;
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  font-family: "Nunito Variable", sans-serif;
  font-size: var(--size-font);
  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--size-header-width) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header main"
    "footer main";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Variable", sans-serif;
}

body > main {
  padding: 0 var(--size-page-padding);
}

body > header {
  grid-area: header;
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas:
    "brand burger"
    "nav nav";

  > .burger {
    display: none;
    grid-area: burger;
  }

  > nav {
    grid-area: nav;
  }

  > .brand {
    grid-area: brand;
  }
}

body > main {
  grid-area: main;
  overflow: auto;
}

body > footer {
  grid-area: footer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger {
  display: none;
}

@media (max-width: 1280px) {
  :root {
    --size-page-padding: 10%;
  }

  body {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  body > main {
    overflow: visible;
  }

  body > :is(header, main, footer) {
    padding: 0 var(--size-page-padding);
  }

  body > header {
    flex-direction: row;
    justify-content: space-between;
  }

  body > header nav {
    display: none;
  }

  body > header > .burger {
    display: block;
  }

  body.burger-active {
    grid-template-areas:
      "header"
      "footer";
  }

  body.burger-active > main {
    display: none;
  }

  body.burger-active > header nav {
    display: block;
  }
}

@media (max-width: 800px) {
  :root {
    --size-page-padding: 1rem;
  }
}
