:root {
  --color-primary: #058e84;
  --color-secondary: #fe7e40;
  --color-white-97: hsl(from var(--color-white) h s calc(l * 0.97));
  --color-white: #f9f9f9;
  --color-black: #333333;

  --size-font-huge: 1.25rem;
  --size-font-large: 1.125rem;
  --size-font: 16px;
  --size-font-small: 0.875rem;
  --size-font-tiny: 0.75rem;
  --size-header-width: 25rem;
  --size-page-padding: 20%;
  --size-gap-tiny: 0.25rem;
  --size-gap-small: 0.5rem;
  --size-gap: 1rem;
  --size-gap-large: 2rem;
  --size-burger: 2rem;
  --size-border-radius-large: 2rem;

  --border-massive: 20px solid rgb(from var(--color-white) r g b / 0.8);
}

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  font-family: "Nunito Variable", sans-serif;
  font-size: var(--size-font);
  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--size-header-width) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header main"
    "footer main";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Variable", sans-serif;
}

body > main > * {
  padding: 0 var(--size-page-padding);
}

body > :is(header, footer) {
  gap: var(--size-gap);
  padding: var(--size-gap);
  background-color: var(--color-white-97);
  border-inline-end: var(--border-massive);
}

body > header {
  grid-area: header;
  display: grid;
  grid-template-rows: min-content;
  grid-template-areas:
    "brand"
    "nav";

  > .burger {
    display: none;
    grid-area: burger;
  }

  > nav {
    grid-area: nav;

    a {
      display: inline-block;
      width: 100%;
      padding: var(--size-gap) 0;
      font-size: var(--size-font-large);
      font-weight: bold;
      text-align: center;
      border-block-start: var(--color-white) 2px solid;

      &:hover {
        background-color: var(--color-white);
      }

      &.active {
        &::before, &::after {
          color: var(--color-secondary);
        }
        &::before {
          content: "{ "
        }
        &::after {
          content: " }"
        }
      }
    }
  }

  > .brand {
    align-self: center;
    justify-self: center;
    grid-area: brand;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

body > main {
  grid-area: main;
  overflow: auto;
}

body > footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;

  > .legal-nav {
    font-size: var(--size-font-tiny);
    text-align: center;

    ul li {
      display: inline;

      &:not(:last-child)::after {
        content: "·";
        padding: 0 var(--size-gap-tiny);
      }
    }
  }

  > .copyright {
    font-size: var(--size-font-tiny);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  select::selection {
    background: var(--color-primary);
  }
  select {
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

@media (max-width: 1280px) {
  body {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  body > main {
    overflow: visible;
  }

  body > :is(header, footer) {
    border-inline-end: none;
  }

  body > header {
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "brand burger";

    .brand {
      justify-self: center;
    }

    .burger {
      display: block;
    }

    nav {
      display: none;
    }
  }

  body.burger-active {
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "header"
      "footer";
  }

  body.burger-active > main {
    display: none;
  }

  body.burger-active > header {
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "brand burger"
      "nav nav";

    nav {
      display: block;
    }
  }
}

@media (max-width: 1600px) {
  :root {
    --size-page-padding: 10%;
  }
}


@media (max-width: 800px) {
  :root {
    --size-page-padding: 1rem;
  }
}
