---
import { version } from "../../../package.json";
---

<footer>
  <div>
    <section>
      <p>&copy; 2025 Code for Humans. All rights reserved.</p>
      <p>Version {version}</p>
    </section>
  </div>
</footer>
