---
import Brand from "../../components/Brand.astro";
import { currentLocale } from "astro-nanostores-i18n:runtime";
import { prepareNavigation, resolvePath } from "../../utils/paths";
import { C } from "../../site.config";
import Navigation from "../../components/Navigation.astro";

const locale = currentLocale.get();
const navigation = await prepareNavigation(`main/${locale}`);
---

<header>
  <a href={resolvePath(`${locale === C.DEFAULT_LOCALE ? "" : locale}`)}>
    <Brand />
  </a>
  <Navigation items={navigation} />
</header>
